li{
  list-style: none;
  position: absolute;
  width: 220px;
  padding: 20px;
  background: #cfc;
  border-radius: 10px;
}

#children, #children ul{
  position: absolute; 
  top: 0;
  left: 0;
}

#children li a{
  text-decoration: none;
  background: #efe;
  color: #000;
  border-radius: 10px;
  padding:10px;
}

#children li .children{
  text-decoration: none;
  background: #efe;
  color: #000;
  border-radius: 10px;
  padding:10px;
}

h1{
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  text-align: center;
  border-bottom: 10px solid #000;

}

#input, #trash, #google{
  position: fixed;
}

#input{
  top: 0;
  right: 0;
  width: 200px;
  font-size: 30px;
  padding: 10px;
}

#trash{
  left: 0;
  bottom: 0;
  width: 240px;
  font-size: 30px;
  background: #ccc;
  padding: 10px;
  border-top-right-radius: 30px;
}

#google{
  right: 0;
  bottom: 0;
  width: 240px;
  font-size: 30px;
  background: #ccf;
  padding: 10px;
  border-top-left-radius: 30px;
}
